{% extends 'base.html.twig' %}
{% block title %}Recherche{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <div class="starter-template">
                <form id="myform" method="POST" action="{{ path('ajaxuserrequest_new_getnbrResults') }}">
                    <div class="row">
                        <div class="col-xs-4">Region :</div>
                        <div class="col-xs-8">
                            {{ region.name }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Intitulé du poste :</div>
                        <div class="col-xs-8">
                            {{ keyword }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Votre email :</div>
                        <div class="col-xs-8">
                            {{ email }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">Nombre de resultats :</div>
                        <div class="col-xs-8">
                            {% if  nbrResults > 0 %}
                                {{ nbrResults }} resultats
                            {% else %}
                                Aucun resultat ne correspond a votre recherche
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">&nbsp;</div>
                        <div class="col-xs-8">
                            <input type="submit" value="&lt; Recommencer" />
                            {% if  nbrResults > 0 %}
                                <input type="submit" value="Continuer &gt;" />
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!--
    #F5F5F5
    -->
<style>
    body { background: #CCCCFF; font: 18px/1.5 sans-serif; }
    h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
    h1 { font-size: 36px; }
    h2 { font-size: 21px; margin-bottom: 1em; }
    p { margin: 0 0 1em 0; }
    a { color: #0000F0; }
    a:hover { text-decoration: none; }
    code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
    #wrapper { background: #CCCCFF; margin: 1em auto; max-width: 800px; width: 95%; }
    #container { padding: 2em; }
    #welcome, #status { margin-bottom: 2em; }
    #welcome h1 span { display: block; font-size: 75%; }
    #icon-status, #icon-book { float: left; height: 64px; margin-right: 1em; margin-top: -4px; width: 64px; }
    #icon-book { display: none; }

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
